.overlap-20 {
    background-color: #00aeef;
    border-radius: 30px;
    height: 49px;
    width: 116px;
    right: 122px;
    position: absolute;
    top: 700px;
  }

.text-wrapper-9 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 13px;
    white-space: nowrap;
    width: 50px;
}
  