.style-radio {
  height: 24px;
  width: 20px;
}

.style-radio .frame {
  height: 20px;
}

.style-radio .overlap-group {
  border: 2px solid;
  border-color: #24a0ed;
  border-radius: 12px;
  height: 24px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 24px;
}

.style-radio .ellipse {
  background-color: #24a0ed;
  border-radius: 7px;
  height: 14px;
  position: relative;
  right: 3;
  width: 14px;
}

.style-radio-wrapper {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 18px;
  position: relative;
  width: 17px;
}

.style-radio-wrapper .ellipse-wrapper {
  height: 16px;
  margin-right: -0.43px;
  position: relative;
  transform: rotate(-3.19deg);
  width: 17px;
}

.style-radio-wrapper .div {
  border: 2px solid;
  border-color: #808080;
  border-radius: 12px;
  height: 24px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 24px;
}
